.ecosystem-detail-container {
  display: grid;
  margin: 0;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
