@import "../../styles/variables.scss";

.footer-link {
  a {
    display: block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 3rem;
    font-family: inherit;
    span {
      &:first-child {
        margin-right: 8px;
      }
    }
    &:hover {
      opacity: 0.6;
      color: $primary-color !important;
    }
  }
  &:hover {
    opacity: 0.6;
    color: $primary-color !important;
  }

  &-arrow {
    font-size: 2.3rem;
  }
}
