@import "../../styles/variables.scss";

.menu-list-desktop {
  pointer-events: all;
  touch-action: auto;
  display: flex;
  width: -webkit-max-content;
  overflow: hidden;

  &-item {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    font-size: 14px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 950px) {
      padding: 10px;
    }

    & > a {
      color: #fff;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }

    &-button {
      border: 2px solid $primary-color;
      border-radius: 4px;
      background-color: transparent;
      color: #fff;
      background-color: $primary-color;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 19px;
      cursor: pointer;

      &:hover {
        background-color: rgb(211, 71, 71);
        border: 2px solid rgb(211, 71, 71);
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    @media only screen and (max-width: 950px) {
      margin: 20px;
    }

    &-link {
      @media only screen and (max-width: 950px) {
        margin: 5px 10px;
      }
      &:hover {
        opacity: 0.7;
      }
      svg {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
