@import "../../styles/variables.scss";

.ecosystem-menu-item {
  padding: 10px 24px;
  display: flex;
  max-width: 100px;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin: 10px 6px;

  &-active {
    background-color: unset;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}
